In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
fruits=pd.read_table("fruit.txt")

In [3]:
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [4]:
fruits.groupby("fruit_name").size()

fruit_name
apple       19
lemon       16
mandarin     5
orange      19
dtype: int64

In [6]:
fruits.shape

(59, 7)

In [8]:
X=fruits[["mass","width","height","color_score"]]
y=fruits["fruit_label"]

In [ ]:
y

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [17]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
model.predict(X_test)

array([3, 1, 4, 4, 3, 1, 1, 4, 1, 1, 1, 3], dtype=int64)

In [18]:
y_test

26    3
35    3
43    4
28    3
11    1
2     1
34    3
46    4
40    3
22    1
4     2
10    1
Name: fruit_label, dtype: int64

In [19]:
model.score(X_test,y_test)

0.4166666666666667

In [23]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
dt.predict(X_test)

array([3, 3, 4, 1, 1, 1, 3, 4, 3, 1, 2, 1], dtype=int64)

In [24]:
y_test

26    3
35    3
43    4
28    3
11    1
2     1
34    3
46    4
40    3
22    1
4     2
10    1
Name: fruit_label, dtype: int64

In [25]:
dt.score(X_test,y_test)

0.9166666666666666

In [26]:
from sklearn.neighbors import KNeighborsClassifier
kn=KNeighborsClassifier()
kn.fit(X_train,y_train)
kn.predict(X_test)

array([3, 3, 4, 3, 1, 1, 3, 4, 3, 1, 2, 1], dtype=int64)

In [27]:
y_test

26    3
35    3
43    4
28    3
11    1
2     1
34    3
46    4
40    3
22    1
4     2
10    1
Name: fruit_label, dtype: int64

In [28]:
kn.score(X_test,y_test)

1.0